@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Shop";
}

@model IEnumerable<BTL_LTWNC.Models.EF.Product>

<link rel="stylesheet" href="./css/shop.css" asp-append-version="true" />

@await Html.PartialAsync("~/Views/Shared/_CommonSectionPartialView.cshtml", (string)ViewBag.Title)

<section>
    @using (Html.BeginForm("getAllProduct", "Product", FormMethod.Get))
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-3">
                    <div class="filter__widget">
                        <select defaultValue="#" asp-items="ViewBag.cateList" name="cateID">
                            <option value="#" hidden>Filter By Category</option>
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="filter__widget">
                        <select defaultValue="#" name="sortOrder">
                            <option value="#" hidden>Sort By Price</option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-1">
                    <button type="submit" class="btn btn-small btn-success">Filter</button>
                </div>
            </div>
        </div>
    }

</section>

<section class="pt-0">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("~/Views/Shared/_ProductPartialView.cshtml", item)
            }
        </div>
    </div>
</section>



